# Node modules
node_modules/

# Angular build output
dist/
build/

# Angular cache
.angular/

# Dependency directories
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.*.local

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.tmp
*.bak
*.orig
